// CubeCol
@use "./components/components";

.cube-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80vh;
  position: relative;

  .color {
    width: 3.6rem;
    aspect-ratio: 1/1;
    position: absolute;
    left: 1rem;
    top: 1rem;
    display: flex;
    flex-wrap: wrap;
    z-index: 5;
    font-size: 0.8rem;

    .color-box {
      width: 1.2rem;
      aspect-ratio: 1/1;
      border-radius: 0.2rem;
      border: 2px solid black;
    }

    &::after {
      content: "FRONT";
      position: absolute;
      display: block;
      top: 110%;
      left: 50%;
      transform: translateX(-50%);
      color: #fff;
    }
  }

  .canvas {
    height: 80vh !important;
    width: 80vh !important;
  }

  .moves {
    height: 20vh;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;

    .button {
      width: 58px;
    }
  }
}
