// CubeCol
@use "./components/components";

.cube-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80vh;
  position: relative;

  .cube-header {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1rem 2rem;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 0.8rem;
    color: #fff;

    .color {
      width: 3.6rem;
      aspect-ratio: 1/1;
      display: flex;
      flex-wrap: wrap;
      position: relative;

      .color-box {
        width: 1.2rem;
        aspect-ratio: 1/1;
        border-radius: 0.2rem;
        border: 2px solid black;
        transition: all 0.2s ease-in-out;
      }

      &::after {
        content: "FRONT";
        position: absolute;
        display: block;
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .reset {
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        scale: 1.2;
      }
    }
  }

  .canvas {
    height: 80vh !important;
    width: 80vh !important;
  }

  .moves {
    height: 20vh;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;

    .button {
      width: 58px;
    }
  }
}
